<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer position="end" class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="over"
      [opened]="false">
    <mat-toolbar>You found it!</mat-toolbar>
    <mat-nav-list (click)="drawer.toggle()">
        <a  mat-list-item 
        *ngIf="!isHomePage"  
        routerLink="/">go back to start, do not pass go</a>
        <a mat-list-item routerLink="/somerealcontent">some real content</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: #960000" id="toolbar_main">
      <div id="toolbar-options">
         <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon" style="color: white">menu</mat-icon>
      </button>
      </div>
      <!--Optional Title-->
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
