<div style="overflow: hidden">
  <div style="background-color: rgba(201, 182, 97, 0.884)" id="welcome">
    <section class="flex-col animated" id="logo">
      <img src="../../assets/logo_main.png" class="logo_main animated rubberBand">
      <p> Wow... look at this free logo I made in less than two minutes on some random site.</p>
    </section>
    <section id="content" class="hidden animated fadeIn flex-col">
      <h2>Was that animation good enough?</h2>
      <p>I'm hoping you'll just stop looking and contact me now.</p>
      <div>
          <a href="https://www.w3schools.com"><button mat-stroked-button color="warn">GitHub</button></a>
          <button mat-stroked-button color="warn">FaceBook</button>
          <button mat-stroked-button color="warn">Instagram</button>
      </div>
      <h2>That wasn't enough?</h2>
      <span>Use the menu button that i lazily put somewhere on the screen to point you to some real content.</span>

    </section>
  </div>

</div>